@model List<ENET_Care.Data.PackageStandardType>
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>

<h2>Package</h2>
<table>

    <tr>
        <td>
            Medication
        </td>
        <td>
            @Html.DropDownList("Medications")
        </td>
    </tr>
    <tr>
        <td>
            Expiry date
        </td>
        <td>
            <input type="text" />
        </td>
    </tr>
</table>

