@using ENET_Care.Data
@model List<Package>
@{
    ViewBag.Title = "PackagesLost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Packages Lost</h2>
<div>

    @if (Model != null)
    {
        <table>
            <tr>
                <td><b>Barcodes Lost</b></td>
            </tr>
            @foreach (var package in Model)
            {
                <tr>
                    <td>@package.PackageId</td>
                </tr>

            }
        </table>
    }

</div>



