
@{
    ViewBag.Title = "Receive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <h2>Receive</h2>

    <h4>Package Id:</h4>
    <input type="text" name="packageId" />
    <br />
    <input type="submit" value="Receive" name="Receive" />
}