@using ENET_Care.BusinessLogic
@using ENET_Care.Data
@model List<Package>
@{
    ViewBag.Title = "RemoveLoss";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Remove Loss</h2>
<p class="alert-danger">@ViewBag.Error</p>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>
                <b>Package Standard Type</b>
            </td>
        </tr>
        <tr>
            <td align="right">
                @Html.DropDownList("medications")
            </td>
        </tr>
        <tr>
            <td>
                <b>Barcode</b>
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBox("barcode")
            </td>
            <td>
                <input type="submit" value="Scan" name="action" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Remove" name="action" />
            </td>
        </tr>
    </table>
}

<div>
    <br />
    @if (Model != null)
    {
        <table>
            <tr>
                <td><b>Scanned Barcodes</b></td>
            </tr>
            @foreach (var package in Model)
            {
                <tr>
                    <td>@package.PackageId</td>
                </tr>

            }
        </table>
    }

</div>