@model List<ENET_Care.Data.PackageStandardType>
@{
    ViewBag.Title = "RemoveLoss";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Remove Loss</h2>
<p class="alert-danger">@ViewBag.Error</p>
@using ENET_Care.BusinessLogic
@using (Html.BeginForm())
    {
    <table>
        <tr>
            <td>
                Select the medication type
            </td>
        <tr>
            <td>
                @Html.DropDownList("medications")
            </td>
        </tr>
        <tr>
            <td>
                Barcode
            </td>
        </tr>
        <tr>
            <td>
               @Html.TextBox("barcode")
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Scan" name="action" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Remove" name="action" />
            </td>
        </tr>
    </table>
    }

<div>
    

        @foreach (var package in PackageStatusLogic.getPackagesInStockList())
        {
            <li>@package.PackageId</li>
        }
    
</div>