
@model List<ENET_Care.Data.DistCentre>
@{
    ViewBag.Title = "DistributionCentreStockReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Distribution Centre Stock</h2>
@using ENET_Care.Data
@using ENET_Care.BusinessLogic
@using (Html.BeginForm())
{
    //dist. centre
    @Html.DropDownList("Centres")
    //display packages for each package type
    //Qty   Medication  value each  total value
    <table>
        <tr>
            <td>Qty</td>
            <td>Medication</td>
            <td>Value (each)</td>
            <td>Total Value</td>
        </tr>
        

       @foreach (var s in MedicationLogic.GetMedicationsInStockByDistCentre(3))
        {
            <tr>
                <td>@s.Quantity</td>
                <td>@s.Medication</td>
                <td>@s.TotalPrice</td>
                <td>AUD$@(s.TotalPrice * s.Quantity)</td>
            </tr>
        }
        <tr></tr>
        <tr>
            <td></td>
            <td></td>
            <td><b>grand total</b></td>
            <td><b>AUD$@MedicationLogic.GetTotalAmountMedication(MedicationLogic.GetMedicationsInStockByDistCentre(3))</b></td>
        </tr>
    </table>

}