
@{
    ViewBag.Title = "DistributionCentreStockReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Distribution Centre Stock</h2>

<br />

<select>
    <option value="HeadOffice">Head Office</option>
    <option value="Melbourne">Melbourne</option>
    <option value="Sydney">Sydney</option>
    <option value="Perth">Perth</option>
</select>

<br />

<table>
    <tr>
        <td>Bar Code</td>
        <td>Medication</td>
        <td>Expire Date</td>
    </tr>
    <tr>
        <td>3456789</td>
        <td>Ibuprofen</td>
        <td>12/10/2015</td>
    </tr>
</table>