
@model List<ENET_Care.Data.DistCentre>
@{
    ViewBag.Title = "DistributionCentreStockReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Distribution Centre Stock</h2>
@using ENET_Care.Data
@using ENET_Care.BusinessLogic
@using (Html.BeginForm())
{
    //display packages for each package type
    //Qty   Medication  value each  total value
    <table>
        <tr>
            <td>Qty</td>
            <td>Medication</td>
            <td>Value (each)</td>
            <td>Total Value</td>
        </tr>
        

       @* @foreach (var s in medicationlogic.getmedicationsinstock())
        {
            <tr>
                <td>@s.quantity</td>
                <td>@s.medication</td>
                <td>@s.totalprice</td>
                <td>@(s.totalprice * s.quantity)</td>
            </tr>
        }*@
        <tr></tr>
       <!----displays the grand total that the packages value
        <tr>
            <td></td>
            <td></td>
            <td><b>grand total</b></td>
            <td><b>@*medicationlogic.gettotalamountmedicationinstock(medicationlogic.getmedicationsinstock())*@</b></td>
        </tr-->
    </table>

}