@using ENET_Care.Data
@using ENET_Care.BusinessLogic
@model List<Report_DistributionCentreLoss>
@{
    ViewBag.Title = "DistributionCentreLossesReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Distribution Centre Losses</h2>

@using (Html.BeginForm())
{
    @*Html.DropDownList("packageIdDropdown", "Centres")*@
    <b></b>
    //display packages that are missing
    //Barcode   Medication  Expire Date From    To
        foreach(var s in Model)
         {
             if (s.LossRatio < 9)
             { 
                <table>
                    <tr>
                        <td>@s.DistCentre.CentreName</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Total Value:</td>
                        <td>AUD$@s.TotalValueLost</td>
                    </tr>
                    <tr>
                        <td>Ratio</td>
                        <td>@s.LossRatio%</td>
                    </tr>
                </table>
             }
             else
             {
                 <table style="background-color: #FFCCCCS">
                    <tr>
                        <td>@s.DistCentre.CentreName</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Total Value:</td>
                        <td>AUD$@s.TotalValueLost</td>
                    </tr>
                    <tr>
                        <td>Ratio</td>
                        <td>@(s.LossRatio)%</td>
                    </tr>
                </table>
             }
        }
}
