@using ENET_Care.Data
@using ENET_Care.BusinessLogic
@model List<Report_MedicationInStock>
@{
    ViewBag.Title = "DistributionCentreStockReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Distribution Centre Stock</h2>

@using (Html.BeginForm())
{
    //dist. centre
    @Html.DropDownList("Centres")
    //display packages for each package type
    //Qty   Medication  value each  total value
    <input type="submit" value="Show report">
    <table>
        <tr> 
            <td width="150">Medication</td>
            <td width="150">Quantity</td>
            <td width="150">Price (ea.)</td>
            <td width="150">Total Price</td>
        </tr>
        

       @if (Model != null) { 
        foreach (var s in Model)
        {
            <tr> 
                <td>@s.Medication.Description</td>
                <td>@s.Quantity</td>
                <td>@s.Medication.Cost</td>
                <td>AUD$@s.TotalPrice</td>
            </tr>
        
        }
        <tr>
            <td><br /></td>
            <td><br /></td>
            <td><br /></td>
            <td><br/></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><b>GRAND TOTAL</b></td>
            <td><b>AUD$@ViewBag.GrandTotal</b></td>
        </tr>
       }
    </table>

}