@model List<ENET_Care.Data.DistCentre>
@{
    ViewBag.Title = "DistributionCentreLossesReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Distribution Centre Losses</h2>
@using ENET_Care.Data
@using ENET_Care.BusinessLogic
@using (Html.BeginForm())
{
    //display packages that are missing
    //Barcode   Medication  Expire Date From    To
        foreach(var s in DistCentreLogic.GetDistributionCentreLosses())
         { 
            <table>
                <tr>
                    <td>@s.DistCentre</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Total Value:</td>
                    <td>@s.TotalValueLost</td>
                </tr>
                <tr>
                    <td>Ratio</td>
                    <td>@s.LossRatio</td>
                </tr>
            </table>
        }
}
