
@{
    ViewBag.Title = "DoctorActivityReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Doctor Activity</h2>

<table>
    <tr>
        <td>
             <b>Dr. James Bond</b>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <u>Qty </u>
        </td>
        <td>
            <u>Type</u>
        </td>
        <td>
            <u>Price</u>
        </td>
        <td>
            <u>Subtotal</u>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            3
        </td>
        <td>
            Paracetamol
        </td>
        <td>
            $15
        </td>
        <td>
            $45
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <hr />
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            Total: $45
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <h3>
                <b>Grand Total $45</b>
            </h3>
        </td>
    </tr>
</table>