@model List<ENET_Care.Data.DistCentre>
@{
    ViewBag.Title = "GlobalStock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Global Stock</h2>
@using ENET_Care.Data
@using ENET_Care.BusinessLogic
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>Qty</td>
            <td>Medication</td>
            <td>Dist. Centre</td>
            <td>Value</td>
        </tr>
        @foreach(var s in MedicationLogic.GetMedicationsInStock())
        {
            <tr>
                <td>@s.Medication</td>
                <td>@s.Quantity</td>
                <td>@s.TotalPrice</td>
            </tr>
        }
        <tr></tr>
        <tr>
            <td></td>
            <td></td>
            <td><b>Grand Total</b></td>
            <td><b>@MedicationLogic.GetTotalAmountMedication(MedicationLogic.GetMedicationsInStock())</b></td>
        </tr>
    </table>
}