
@{
    ViewBag.Title = "GlobalStock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Global Stock</h2>

<br />

<table>
    <tr>
        <td>Qty</td>
        <td>Medication</td>
        <td>Dist. Centre</td>
        <td>Value</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Ibuprofen</td>
        <td>Head Office</td>
        <td>$15</td>
    </tr>
</table>

<br />

<h3><b>Grand Total: $45</b></h3>