@using ENET_Care.Data
@using ENET_Care.BusinessLogic
@model List<Report_MedicationInStock>
@{
    ViewBag.Title = "ValueInTransit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Value In Transit</h2>
@using (Html.BeginForm())
{
    <table>
        @foreach (var s in PackageStatusLogic.GetInTransitPackages())
        {
            <tr>
                <td><b>From Sydney to Melbourne</b></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Qty</td>
                <td>Medication</td>
                <td>Expire Date</td>
                <td>Value</td>
            </tr>
            <tr>
                <td>@s.Quantity</td>
                <td>@*s.PackageStandardType.Description*@</td>
                <td>@s.ExpiryDate</td>
                <td>@*s.PackageStandardType.Cost*@</td>
            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><b>Total: </b></td>
        </tr>
    </table>
}


<b>Grand Total: $90</b>