
@{
    ViewBag.Title = "ValueInTransit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ValueInTransit</h2>

<h3>From Sydney to Melbourne</h3>

<table>
    <tr>
        <td>Qty</td>
        <td>Medication</td>
        <td>Expire Date</td>
        <td>Value</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Ibuprofen</td>
        <td>12/10/2015</td>
        <td>$15</td>
    </tr>
</table>

<br />

<h3><b>Total: $45</b></h3>

<br />
<br />

<h3>From Head Office to Melbourne</h3>

<br />

<table>
    <tr>
        <td>Qty</td>
        <td>Medication</td>
        <td>Expire Date</td>
        <td>Value</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Ibuprofen</td>
        <td>12/10/2015</td>
        <td>$15</td>
    </tr>
</table>

<br />

<h3><b>Total: $45</b></h3>

<br />

<h2><b>Grand Total: $90</b></h2>