
@{
    ViewBag.Title = "Discard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <h2>Discard</h2>
    <h4>Package Id:</h4>
    <input type="text" name="packageId" />
    <br />
    <input type="submit" value="Discard" name="Discard" />
}