
@{
    ViewBag.Title = "Distribute";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <h2>Distribute</h2>

    <h4>Package Id:</h4>
    <input type="text" name="packageId" />
    <br />
    <input type="submit" value="Distribute" name="Distribute" />
}