
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>

<h4>(Warning)</h4>

<br />

<h4>Package Type</h4>
<select>
    <option value="Ibuprofen">Ibuprofen</option>
    <option value="Paracetamol">Paracetamol</option>
</select>

<br />

<h4>Expire Date</h4>
<input type="text" name="ExpireDate" />
calendar ???
date mask ???

<br />

<input type="button" value="Register" />