@model ENET_Care.Data.Package
@{
    ViewBag.Title = "RemoveLoss";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Remove Loss</h2>

@using (Html.BeginForm())
{
    <h4>@Html.LabelFor(m => m.Id)</h4>

    <br />

    <input type="submit" value="Scan" name="scan" />

    <br />

    <input type="submit" value="Remove Losses" name="removeLoss" />
}