
@{
    ViewBag.Title = "RemoveLoss";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Remove Loss</h2>

<select>
    <option value="Ibuprofen">Ibuprofen</option>
    <option value="Paracetamol">Paracetamol</option>
</select>

<input type="button" value="Remove Loss" />