
@{
    ViewBag.Title = "Send";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Send</h2>

<h4>Bar Code:</h4>
<br />
<input type="text" name="barCode" />
<br />
<input type="button" value="Send" name="submitDiscard" />