
@{
    ViewBag.Title = "Stocktaking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Stocktaking</h2>

<table>
    <tr>
        <td>Bar Code</td>
        <td>Medication</td>
        <td>Expire Date</td>
        <td></td>
    </tr>
    <tr>
        <td>3456789</td>
        <td>Ibuprofen</td>
        <td>12/10/2015</td>
        <td><input type="button" value="Remove" /></td>
    </tr>
</table>